<!doctype html>
{% load static %}
{% load account %}
{% url 'CIResults-index' as home_url %}
{% url 'CIResults-issue' 'create' as file_issue_url %}
{% url 'CIResults-issues-list' as issues_list_url %}
{% url 'CIResults-machines' as machines_list_url %}
{% url 'CIResults-tests' as tests_list_url %}
{% url 'CIResults-tests-massrename' as tests_massrename_url %}
{% url 'CIResults-results' as result_all %}
{% url 'CIResults-knownfailures' as result_knownfailures %}
{% url 'CIResults-compare' as result_compare %}
{% url 'CIResults-metrics-issues' as metrics_issues_url %}
{% url 'CIResults-metrics-bugs' as metrics_bugs_url %}
{% url 'CIResults-metrics-comments' as metrics_comments_url %}
{% url 'CIResults-metrics-passrate-per-runconfig' as metrics_passrate_per_runconfig_url %}
{% url 'CIResults-metrics-passrate-per-test' as metrics_passrate_per_test_url %}
{% url 'CIResults-metrics-runtime' as metrics_runtime_url %}
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %} - CI Bug Log</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

        <link rel="stylesheet" href="{% static 'css/ciresults.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-duallistbox.min.css' %}">

        <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">

        <!-- load jquery early, as we often need it during loading time -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="http://cdn.jsdelivr.net/g/filesaver.js"></script>
    </head>

    <body class="navbar_fixed">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{home_url}}"><img alt="logo" style="height: 100%;" src="{% static 'img/logo.svg' %}"/></a>
                <a class="navbar-brand" href="{{home_url}}">CI Bug Log</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li {% if request.path == home_url %}class="active"{% endif %}>
                            <a class="nav-link" href="{{home_url}}">Home</a>
                        </li>
                        <li class="dropdown {% if "/issue/" in request.path %}active{% endif %}">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Issues<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {% if perms.CIResults.change_issue %}
                                    <li {% if request.path == file_issue_url %}class="active"{% endif %}>
                                        <a class="nav-link" href="{{file_issue_url}}">File issue</a>
                                    </li>
                                    <li class="divider"></li>
                                {% endif %}
                                <li><a href="{{issues_list_url}}?query=archived_on+=+NONE">Active Issues</a></li>
                                <li><a href="{{issues_list_url}}?query=expected+%3D+TRUE+AND+archived_on+=+NONE">Expected Issues</a></li>
                                <li class="divider"></li>
                                <li><a href="{{issues_list_url}}?query=NOT+archived_on+=+NONE">Archived Issues</a></li>
                            </ul>
                        </li>

                        <li class="dropdown {% if "/bug/" in request.path %}active{% endif %}">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bugs<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a class="nav-link" href="{% url 'CIResults-bug-open-list' %}">Open bugs</a></li>
                                {% if perms.CIResults.change_replicationscript %}
                                <li class="divider"></li>
                                <li><a href="{% url 'CIResults-replication-script-list' %}">Replication scripts</a></li>
                                {% endif %}
                            </ul>
                        </li>

                        <li {% if "/machine/" in request.path %}class="active"{% endif %}>
                            <a href="{{machines_list_url}}">Machines</a>
                        </li>
                        {% if perms.CIResults.change_test %}<li class="dropdown {% if "/test/" in request.path %}active{% endif %}">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tests<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{tests_list_url}}">Tests list</a></li>
                                <li><a href="{{tests_massrename_url}}">Mass rename</a></li>
                            </ul>
                        </li>
                        {% else %}
                        <li {% if request.path == tests_list_url %}class="active"{% endif %}>
                            <a href="{{tests_list_url}}">Tests</a>
                        </li>
                        {% endif %}

                        <li class="dropdown {% if request.path == result_all or request.path == result_knownfailures %}active{% endif %}">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Results<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{result_all}}">All results</a></li>
                                <li><a href="{{result_knownfailures}}">Known failures</a></li>
                                <li class="divider"></li>
                                <li><a href="{{result_compare}}">Compare</a></li>
                            </ul>
                        </li>

                        <li class="dropdown {% if "/metrics/" in request.path %}active{% endif %}">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Metrics<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a class="nav-link" href="{{metrics_issues_url}}">Issue trend</a></li>
                                <li class="divider"></li>
                                <li><a class="nav-link" href="{{metrics_bugs_url}}">Bug trend</a></li>
                                <li><a class="nav-link" href="{{metrics_comments_url}}">Comments trend</a></li>
                                <li class="divider"></li>
                                <li><a class="nav-link" href="{{metrics_passrate_per_runconfig_url}}">Pass rate per run</a></li>
                                <li><a class="nav-link" href="{{metrics_passrate_per_test_url}}">Pass rate per test</a></li>
                                <li class="divider"></li>
                                <li><a class="nav-link" href="{{metrics_runtime_url}}">Run time</a></li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% user_display user %}<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
                                    <li><a href="{% url 'socialaccount_connections' %}">Auth providers</a></li>
                                    <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li><a href="{% url 'account_login' %}">Sign In</a></li>
                            <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Keep the csrf token available to every page -->
        {% csrf_token %}

        <div class="main_body container-fluid">
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
            {% endfor %}

            {% block content %}
            {% endblock %}
         </div>

        <footer class="small text-muted text-center">
            {% if cibuglog.version is not None %}<p><a href="{{cibuglog.project_url}}">CI Bug Log</a> version <a href="{{cibuglog.version_url}}">{{cibuglog.version}}</p></a>{% endif %}
            <p>Generated on the {% now "jS F Y H:i:s" %} (UTC). <a href="mailto: Martin Peres <martin.peres@intel.com>">Contact</a>.</p>
        </footer>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

        <script src="{% static 'js/sorttable.js' %}"></script>
        <script src="{% static 'js/jquery.bootstrap-duallistbox.js' %}"></script>
        <script src="{% static 'js/eModal.js' %}"></script>
        <script src="{% static 'js/helpers.js' %}"></script>


    </body>
</html>
