{% extends 'CIResults/base.html' %}

{% block title %}Known failures list{% endblock %}

{% block content %}
    {% block information %}{% endblock %}

    {% include "CIResults/basic/user_filtering_searchbox.html" with filters_model=query.model %}

    {% if failures|length > 0 %}
    {% include "CIResults/basic/results_chart.html" with panel_title="Chart of the listed failures (current page)" %}
    {% endif %}

    <div class="panel panel-default panel-info" >
        <div class="panel-heading">Known failures list ({% if page_obj is not None %}{{ page_obj.paginator.count }}{% else %}{{failures|length}}{% endif %})</div>
        <div id="unknown_failures-body" class="panel-body">
            <div class="form-inline column-selector" data-table-class='known-failures' data-table-downloadable-as='known_failures.csv'></div>
            <table class="table table-striped table-hover table-bordered table-sm sortable known-failures">
                <thead>
                    <tr>
                        <th data-visibility='always'>Test</th>
                        <th data-visibility='show'>Machine</th>
                        <th data-visibility='show'>Result / Status</th>
                        <th data-visibility='show'>Duration (s)</th>
                        <th data-visibility='show'>Run Config (age)</th>
                        <th data-visibility='show'># of covered runs since the failure</th>
                        <th data-visibility='show'>Matched issue/filter</th>
                    </tr>
                </thead>
                <tbody>
                {% for failure in failures %}
                    <tr>
                        <td>{% include "CIResults/basic/test.html" with test=failure.result.test %}</td>
                        <td>{% include "CIResults/basic/machine.html" with machine=failure.result.ts_run.machine %}</td>
                        <td>{% include "CIResults/basic/testresult.html" with testresult=failure.result %}</td>
                        <td>{{failure.result.duration}}</td>
                        <td data-sorttable-customkey="{{failure.result.ts_run.runconfig.added_on|date:'U'}}">{% include "CIResults/basic/runconfig_lite.html" with runconfig=failure.result.ts_run.runconfig %}</td>
                        <td>{{failure.covered_runconfigs_since_for_issue}} for the issue, {{failure.covered_runconfigs_since_for_filter}} for the filter</td>
                        <td>{% include "CIResults/basic/issue.html" with issue=failure.matched_ifa.issue %} - {% include "CIResults/basic/ifa.html" with ifa=failure.matched_ifa %}</td>
                    </tr>
                {% empty %}
                <tr><td colspan="7"><center>No failures found or empty query</center></td></tr>
                {% endfor %}
                </tbody>
            </table>

            {% if not failures|length == 0 %}{% include "CIResults/basic/paginator.html" %}{% endif %}
        </div>
    </div>

{% include "CIResults/basic/metrics_deps.html" %}
{% endblock %}
