.center-menu {
  left: auto;
  right: 50%;
  transform: translate(50%,0)
}

.bug_panel {
  display: none;
  height: 75vh;
  overflow-y: scroll;
}

.bug_table {
  white-space: nowrap;
}

.save_btn {
  display: none;
}

.CodeMirror-fullscreen {
  margin-top: 52px;
}
